@import url("https://fonts.googleapis.com/css2?family=Cormorant&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");

:root {
  --gradient: linear-gradient(90deg, #1F2E4B 0%, #1F2E4B 100%);
  --light: #CDCDCD;
  --grey: #CDCDCD;
}

h1,h2 {
  font-size: 3em !important;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', Helvetica !important;
  scroll-behavior: smooth;
  color: #1F2E4B;
}

h1,h2,h3,h4 {
  font-family: 'Cormorant' !important;
  text-transform: uppercase;
  color: #1F2E4B;
}

.main-bgcolor {
  background-image: var(--gradient);
}
.light-color {
  color: var(--light) !important;
}
.grey-bgcolor {
  background: var(--grey);
}
.company_brand {
  font-size: x-large;
}

.section {
  padding: 50px 0;
}

.section-body {
  padding: 20px 0;
}

h1, h2, h3, h4 {
    color: #D0D0D0;
  }

  section ul li {
    margin: 10px 0;
  }

  section ul {
    padding-left: 23px;
  }

  li {
    list-style: none;
  }

